<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar">

        <div class="user-profile">
            <div class="ulogo">
                <a href="index.html">
                    <!-- logo for regular state and mobile devices -->
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../images/logo-dark.png" alt="">
                        <h3><b>Sunny</b> Admin</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="index.html">
                    <i data-feather="pie-chart"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="message-circle"></i>
                    <span>برنامه</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="chat.html"><i class="ti-more"></i>چت</a></li>
                    <li><a href="calendar.html"><i class="ti-more"></i>تقویم رویداد میلادی</a></li>
                    <li><a href="calendar-jalali.html"><i class="ti-more"></i>تقویم رویداد شمسی</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="mail"></i> <span>ایمیل</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="mailbox_inbox.html"><i class="ti-more"></i>صندوق دریافت</a></li>
                    <li><a href="mailbox_compose.html"><i class="ti-more"></i>ارسال ایمیل</a></li>
                    <li><a href="mailbox_read_mail.html"><i class="ti-more"></i>خواندن ایمیل</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="file"></i>
                    <span>صفحات</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="profile.html"><i class="ti-more"></i>پروفایل</a></li>
                    <li><a href="invoice.html"><i class="ti-more"></i>فاکتور</a></li>
                    <li><a href="gallery.html"><i class="ti-more"></i>گالری</a></li>
                    <li><a href="faq.html"><i class="ti-more"></i>سوالات متداول</a></li>
                    <li><a href="timeline.html"><i class="ti-more"></i>تایم لاین</a></li>
                </ul>
            </li>

            <li class="header nav-small-cap">رابط کاربری</li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="grid"></i>
                    <span>کامپوننت ها</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="components_alerts.html"><i class="ti-more"></i>هشدار</a></li>
                    <li><a href="components_badges.html"><i class="ti-more"></i>نشان</a></li>
                    <li><a href="components_buttons.html"><i class="ti-more"></i>دکمه</a></li>
                    <li><a href="components_sliders.html"><i class="ti-more"></i>اسلایدر</a></li>
                    <li><a href="components_dropdown.html"><i class="ti-more"></i>فهرست کشویی</a></li>
                    <li><a href="components_modals.html"><i class="ti-more"></i>مُدال</a></li>
                    <li><a href="components_nestable.html"><i class="ti-more"></i>تو در تو</a></li>
                    <li><a href="components_progress_bars.html"><i class="ti-more"></i>نوار پیشرفت</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="credit-card"></i>
                    <span>کارت ها</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="card_advanced.html"><i class="ti-more"></i>کارت پیشرفته</a></li>
                    <li><a href="card_basic.html"><i class="ti-more"></i>کارت پایه</a></li>
                    <li><a href="card_color.html"><i class="ti-more"></i>کارت رنگی</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="hard-drive"></i>
                    <span>محتوا</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="content_typography.html"><i class="ti-more"></i>تایپوگرافی</a></li>
                    <li><a href="content_media.html"><i class="ti-more"></i>رسانه</a></li>
                    <li><a href="content_grid.html"><i class="ti-more"></i>شبکه بندی</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="package"></i>
                    <span>موارد مفید</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="utilities_border.html"><i class="ti-more"></i>خط مرز</a></li>
                    <li><a href="utilities_color.html"><i class="ti-more"></i>رنگ</a></li>
                    <li><a href="utilities_ribbons.html"><i class="ti-more"></i>روبان</a></li>
                    <li><a href="utilities_tab.html"><i class="ti-more"></i>تب ها</a></li>
                    <li><a href="utilities_animations.html"><i class="ti-more"></i>انیمیشن</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="edit-2"></i>
                    <span>آیکون ها</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="icons_fontawesome.html"><i class="ti-more"></i>فونت آوسوم</a></li>
                    <li><a href="icons_glyphicons.html"><i class="ti-more"></i>آیکون Glyphicons</a></li>
                    <li><a href="icons_material.html"><i class="ti-more"></i>آیکون های متریال</a></li>
                    <li><a href="icons_themify.html"><i class="ti-more"></i>آیکون های Themify</a></li>
                    <li><a href="icons_simpleline.html"><i class="ti-more"></i>آیکون های SimpleLine</a></li>
                    <li><a href="icons_cryptocoins.html"><i class="ti-more"></i>آیکون های ارز دیجیتال</a></li>
                    <li><a href="icons_flag.html"><i class="ti-more"></i>آیکون های پرچم</a></li>
                    <li><a href="icons_weather.html"><i class="ti-more"></i>آیکون های آب و هوا</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="inbox"></i>
                    <span>فرم ها</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="forms_advanced.html"><i class="ti-more"></i>عناصر پیشرفته</a></li>
                    <li><a href="forms_editors.html"><i class="ti-more"></i>ویرایشگر متن</a></li>
                    <li><a href="forms_code_editor.html"><i class="ti-more"></i>ویرایشگر کد</a></li>
                    <li><a href="forms_validation.html"><i class="ti-more"></i>اعتبارسنجی فرم</a></li>
                    <li><a href="forms_wizard.html"><i class="ti-more"></i>فرم پیشرفته</a></li>
                    <li><a href="forms_general.html"><i class="ti-more"></i>عناصر عمومی</a></li>
                    <li><a href="forms_dropzone.html"><i class="ti-more"></i>آپلود فایل Dropzone</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i data-feather="server"></i>
                    <span>جداول</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="tables_simple.html"><i class="ti-more"></i>جداول ساده</a></li>
                    <li><a href="tables_data.html"><i class="ti-more"></i>جداول داده ای</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="pie-chart"></i>
                    <span>نمودار ها</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="charts_chartjs.html"><i class="ti-more"></i>نمودار ChartJS</a></li>
                    <li><a href="charts_flot.html"><i class="ti-more"></i>نمودار Flot</a></li>
                    <li><a href="charts_inline.html"><i class="ti-more"></i>نمودار Inline</a></li>
                    <li><a href="charts_morris.html"><i class="ti-more"></i>نمودار Morris</a></li>
                    <li><a href="charts_peity.html"><i class="ti-more"></i>نمودار Peity</a></li>
                    <li><a href="charts_chartist.html"><i class="ti-more"></i>نمودار Chartist</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="map"></i>
                    <span>نقشه</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="map_google.html"><i class="ti-more"></i>نقشه گوگل</a></li>
                    <li><a href="map_vector.html"><i class="ti-more"></i>نقشه برداری</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="alert-triangle"></i>
                    <span>احراز هویت</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="auth_login.html"><i class="ti-more"></i>ورود</a></li>
                    <li><a href="auth_register.html"><i class="ti-more"></i>ثبت نام</a></li>
                    <li><a href="auth_lockscreen.html"><i class="ti-more"></i>قفل صفحه</a></li>
                    <li><a href="auth_user_pass.html"><i class="ti-more"></i>رمز عبور</a></li>
                    <li><a href="error_404.html"><i class="ti-more"></i>خطای 404</a></li>
                    <li><a href="error_maintenance.html"><i class="ti-more"></i>در دست تعمیر</a></li>
                </ul>
            </li>

            <li class="header nav-small-cap">اضافی</li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="layers"></i>
                    <span>چند سطحی</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">سطح یک</a></li>
                    <li class="treeview">
                        <a href="#">سطح یک
                            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#">سطح دو</a></li>
                            <li class="treeview">
                                <a href="#">سطح دو
                                    <span class="pull-right-container">
					  <i class="fa fa-angle-right pull-right"></i>
					</span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#">سطح سه</a></li>
                                    <li><a href="#">سطح سه</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">سطح یک</a></li>
                </ul>
            </li>

            <li>
                <a href="auth_login.html">
                    <i data-feather="lock"></i>
                    <span>خروج</span>
                </a>
            </li>

        </ul>
    </section>

    <div class="sidebar-footer">
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="تنظیمات"
           aria-describedby="tooltip92529"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="mailbox_inbox.html" class="link" data-toggle="tooltip" title="" data-original-title="ایمیل"><i
                class="ti-email"></i></a>
        <!-- item-->
        <a href="{% url "account:logout" %}" class="link" data-toggle="tooltip" title="" data-original-title="Exite"><i
                class="ti-lock"></i></a>
    </div>
</aside>